<footer>
  <h2>{{ site.title[page.lang] }}</h2>
  <div>
    <ul class="social-media-list">
      <li>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </li>
      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %} {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}
    </ul>
  </div>
</footer>
<script src="{{ "/scripts/main.js" | prepend: site.baseurl }}"></script>